<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HuaweiGCI</title>
	<meta content="" name="keywords">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="telephone=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="../stylesheets/huaweiGCI.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="../javascripts/icons.js"></script>
	<script src="../javascripts/huaweiGCI.js"></script>
</head>
<body>
	<section class="section-body">
	<div class="button-up"></div>
	<div class="c-bg-continent">
			<div class="c-container">
				<div class="c-section__main">
					<header class="c-header h-clearfix">
						<div class="c-header__col--left">
							<div class="c-header__logo">
								<a href="#"><img src="../images/huaweiGCI/logo.png" alt="Huawei"></a>
							</div>
						</div>
						<div class="c-header__col--right">
							<div class="c-header__navButton"></div>
							<div class="c-header__nav">
							<div class="c-header__nav-logo">
								<a href="#"><img src="../images/huaweiGCI/logo_white.png" alt="Huawei"></a>
							</div>
								<ul class="h-clearfix">
									<li class="c-header__nav--item"><a href="#">Положение в&nbsp;мире</a></li>
									<li class="c-header__nav--item"><a href="#">Факторы роста</a></li>
									<li class="c-header__nav--item"><a href="#">Цифровая экономика</a></li>
									<li class="c-header__nav--item"><a href="#">Неравенство стран</a></li>
									<li class="c-header__nav--item"><a href="#">Инвестиции в технологии</a></li>
								</ul>
							</div>
						</div>
					</header>
					<div>
						<div class="c-top h-clearfix">
							<div class="c-top__wrapper">
								<div class="c-top__text">
									<h1 class="c-top__text--title">Результаты <br>исследования <br>GCI 2017</h1>
									<h5 class="c-top__text--subtitle">Глобальный индекс сетевого<br>взаимодействия Huawei&nbsp;&mdash; 2017</h5>
									<p>Шэнчьжэнь, Китай, 17&nbsp;апреля 2017</p>
									<a class="c-top__text--button" href="#">Узнать больше</a>
								</div>
								<div class="c-top__image">
									<img src="../images/huaweiGCI/sphere.png">
								</div>
							</div>
						</div>
					</div>
					<div class="c-report">
						<div class="wrapper h-clearfix">
							<div class="c-report__description">
								<p>Компания Huawei опубликовала отчет по&nbsp;результатам исследования &laquo;Глобальный индекс сетевого взаимодействия Huawei&nbsp;&mdash; 2017&raquo; (индекс Global Connectivity&nbsp;&mdash; GCI). Исследование проводится четвертый год подряд и&nbsp;отражает прогресс крупнейших стран мира в&nbsp;области перехода на&nbsp;цифровые технологии.</p>
							</div>
							<div class="c-report__result">
								<div class="c-report__result--position">
									<span>26</span>
								</div>
								<div class="c-report__result--text">
									<p>место из&nbsp;50&nbsp;стран, прошедших оценку в&nbsp;2017&nbsp;году, занимает Россия.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="c-rating" data-aos="fade-up"> 
						<div class="c-rating__info h-clearfix">
								<div class="c-rating__footnote">
									<div>
										<span>Данные приводятся по&nbsp;сравнению с&nbsp;2015&nbsp;г.</span>
									</div>
									<div>
										<span>Лидеры рейтинга прибавили по&nbsp;7&nbsp;пунктов.</span>
									</div>
									<div>
										<span>Первое место занимают США.</span>
									</div>
								</div>
								<div class="c-rating__info--col c-rating__info--col-left">
									<div class="c-rating__info--text">
										<p>70 <span>/100 баллов</span></p>
										<span>GCI-баллов</span>
									</div>
								</div>
								<div class="c-rating__info--col c-rating__info--col-right">
									<div class="c-rating__info--text">
										<p>45 <span>/100 баллов</span></p>
										<span>GCI-баллов</span>
									</div>
									<div class="c-rating__info--text ">
										<p class="c-color__green">+4</p>
										<span class="c-color__green">балла по индексу GCI</span>
									</div>
									<div class="c-rating__info--text">
										<p class="c-color__red">-2</p>
										<span class="c-color__red">позиции в рейтинге</span>
									</div>
								</div>
						</div>
						<ul class="c-ratingChart">
							<div class="c-line"></div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="c-container">
			<div class="c-section__main">
				<div class="c-factors" data-aos="fade-up">
					<div class="c-factors__title" >
						<h2>Факторы роста</h2>
					</div>
					<div class="c-factors__wrapper h-clearfix">
						<div class="c-factors__col">
							<p  class="c-factors__col--text">Индекс составляется на&nbsp;основе 40&nbsp;показателей, отражающих степень развития стран, и&nbsp;влияния 5&nbsp;основных технологических факторов роста. Инвестируя в&nbsp;эти ключевые технологии, страны ускоряют цифровую трансформацию своей экономики:</p>
							<ul>
								<li>Развертывание сетей широкополосной связи</li>
								<li>Функционирование центров обработки данных</li>
								<li>Применение облачных сервисов</li>
								<li>Работа с&nbsp;большими данными</li>
								<li>Развитие интернета вещей (IoT)</li>
							</ul>
						</div>
						<div class="c-factors__col h-clearfix">
							<p class="c-factors__col--text">
								На&nbsp;50&nbsp;стран, прошедших оценку в&nbsp;2017&nbsp;году, приходится&nbsp;90% мирового ВВП и&nbsp;78% населения Земли.
							</p>
							<div class="c-factors__col c-factors__col--chart">
								<div id="population-chart">
								<div class="chart-info">
									<p class="chart-info__title">78%</p>
									<p class="chart-info__subtitle">населения<br> Земли</p>
								</div>
								</div>
							</div>
							<div class="c-factors__footnote">
								<p class="c-factors__footnote--others">Остальные<br> 147 стран</p>
								<p class="c-factors__footnote--evaluated">50&nbsp;стран, <br>прошедшие <br>оценку</p>
							</div>
							<div class="c-factors__col c-factors__col--chart">
								<div id="gdp-chart">
									<div class="chart-info">
										<p class="chart-info__title">90%</p>
										<p class="chart-info__subtitle">мирового<br> ВВП</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="c-background">
		<div class="c-container">
			<div class="c-section__main">
				<div class="c-invest h-clearfix" data-aos="fade-up">
					<div class="c-invest__col">
					  <div id="icon1"></div>
					</div>
						<h4 class="c-invest__title">
						Инвестиции в&nbsp;информационно-коммуникационные<br> технологии (ИКТ) возрастают</h4>
						<p>В&nbsp;высокоразвитых странах, опирающихся на&nbsp;цифровые технологии, важным фактором роста становятся инвестиции в&nbsp;ИКТ и&nbsp;их&nbsp;применение. Страны, в&nbsp;которых развитие цифровых технологий только начинается, стремятся ускорить свой рост.
						Они инвестируют в&nbsp;перспективные направления ИКТ, а&nbsp;это позволит быстрее попасть в&nbsp;мировое цифровое сообщество. Но&nbsp;несмотря на&nbsp;это, разрыв в&nbsp;цифровом отношении между развитыми и&nbsp;развивающимися странами продолжает расти.
						</p>
				</div>
			</div>
		</div>
	</div>
		<div class="c-container">
			<div class="c-section__main">
				<div class="c-step h-clearfix" data-aos="fade-up">
					<div class="c-step__title">
						<h2>
							Движение к&nbsp;цифровой экономике
						</h2>
					</div>
					<div class="c-step__info h-clearfix">
						<div class="c-step__info--col"> 
							<p>
							В&nbsp;2017 году глобальное движение к&nbsp;цифровой экономике набирает скорость. Всемирный индекс GCI&nbsp;в среднем увеличился на&nbsp;4&nbsp;пункта с&nbsp;2015 по&nbsp;2017&nbsp;год. ИКТ становятся двигателем экономического роста.
							</p>
						</div>
						<div class="c-step__info--col c-step__info--col-right"> 
							<p>
							Повышение индекса GCI&nbsp;на 1&nbsp;пункт эквивалентно увеличению: 
							</p>
							<ul>
								<li>конкурентоспособности&nbsp;&mdash; на&nbsp;2,1%;</li>
								<li>национальных инноваций&nbsp;&mdash; на&nbsp;2,2%;</li>
								<li>производительности&nbsp;&mdash; на&nbsp;2,3%.</li>
							</ul>
						</div>
					</div>
					<div class="c-step__wrapper h-clearfix" data-aos="fade-up">
						<div class="c-step__col">
							<div class="c-step__item c-step__item--first">
								<h4 class="c-step__item--title">3 000 $</h4>
								<h6 class="c-step__item--subtitle">среднее ВВП на&nbsp;душу населения</h6>
								<p class="c-step__item--text">13&nbsp;стран относятся к&nbsp;новичкам, где развертывание инфраструктуры ИКТ находится на&nbsp;ранних стадиях. Индекс GCI&nbsp;с 2015 года увеличился лишь на&nbsp;2,4&nbsp;балла.</p>
							</div>
							<div class="c-step__item c-step__item--second">
								<h4 class="c-step__item--title">15 000 $</h4>
								<h6 class="c-step__item--subtitle">среднее ВВП на&nbsp;душу населения</h6>
								<p class="c-step__item--text">21&nbsp;страна уверенно развивают цифровые технологии и&nbsp;увеличивают спрос на&nbsp;ИКТ, чтобы внедрение стало еще шире. Индекс GCI&nbsp;с 2015 года у&nbsp;них составляет 4,5&nbsp;балла.</p>
							</div>
						</div>
						<div class="c-step__col c-step__col--middle">
							<div class="c-step__item c-step__item--third">
								<h4 class="c-step__item--title">50 000 $</h4>
								<h6 class="c-step__item--subtitle">среднее ВВП на&nbsp;душу населения</h6>
								<p class="c-step__item--text">16&nbsp;стран уже добились успехов в&nbsp;сфере цифровых технологий и&nbsp;считаются лидерами в&nbsp;этой области. Число пользователей цифровых технологий и&nbsp;уровень их&nbsp;знаний постоянно растут. Большие данные и&nbsp;IoT внедряются в&nbsp;области производства и&nbsp;общественной жизни. Рост индекса GCI&nbsp;у этих стран с&nbsp;2015 года составляет 4,7&nbsp;балла.</p>
							</div>
							<div class="c-step__item">
								<p class="c-step__item--text c-step--text-result">Разрыв между этими тремя группами увеличивается.</p>
							</div>
						</div>
						<div class="c-step__col c-step__col--middle">
							<div id="step-chart">
								<span class="step-chart__info1">16</span>
								<span class="step-chart__info2">21</span>
								<span class="step-chart__info3">13</span>
								<div class="chart-info">
									<p class="chart-info__subtitle">ВВП</p>
									<p class="chart-info__title">50</p>
									<p class="chart-info__subtitle">стран</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="c-background">
		<div class="c-container">
			<div class="c-section__main">
				<div class="c-effect h-clearfix" data-aos="fade-up">
					<div class="c-effect__col">
						<div id="icon2"></div>
					</div> 
						<h4 class="c-effect__subtitle">
							Богатые богатеют, а&nbsp;бедные становятся еще беднее
						</h4>
						<p>	Перед нами ИТ-версия того, что в&nbsp;социологии известно, как &laquo;эффект Матфея&raquo;, когда богатые богатеют, а&nbsp;бедные становятся еще беднее. Изначально более привилегированные группы чаще добиваются успеха, но&nbsp;и&nbsp;лучше используют свое первоначальное стартовое преимущество, чтобы сильнее отрываться от&nbsp;конкурентов.
						</p>
						<p>	Политики должны понять, что растущее цифровое неравенство будет влиять на&nbsp;все сектора экономики и&nbsp;сегменты общества. Если правительство какой-либо страны не&nbsp;сможет поддерживать устойчивый экономический рост, оно столкнется с&nbsp;трудностями в&nbsp;решении вопросов: как накормить население, обеспечить образованием и&nbsp;рабочими местами.
						</p>
				</div>
			</div>
		</div>
	</div>
		<div class="c-container">
			<div class="c-section__main">
				<div class="c-indicators h-clearfix" data-aos="fade-up">
					<h2 class="c-indicators__title">
						Неравенство в&nbsp;цифрах
					</h2>
					<h4 class="c-indicators__subtitle">
						Исследователи выделили 5&nbsp;ключевых индикаторов, по&nbsp;которым неравенство между странами наиболее очевидно.
					</h4>
					<div class="c-indicators__wrapper">
						<span class="c-indicators__footnote">Средний показатель</span>
						<div class="c-indicators__col c-indicators__countries">
							<div class="c-indicators__country"><img src="../images/huaweiGCI/usa-flag.jpg"><p>США<sup>1</sup></p></div>
							<div class="c-indicators__country"><img src="../images/huaweiGCI/rus-flag.jpg"><p>Россия<sup>26</sup></p></div>
							<div class="c-indicators__country"><img src="../images/huaweiGCI/pak-flag.jpg"><p>Пакистан<sup>50</sup></p></div>
						</div>
						<div class="c-indicators__flags">
							<img src="../images/huaweiGCI/usa-flag.jpg">
							<img src="../images/huaweiGCI/rus-flag.jpg">
							<img src="../images/huaweiGCI/pak-flag.jpg">
						</div>
						<div class="c-indicators__col">
							<ul class="c-indicatorsChart c-indicatorsChart1">
								<div class="c-line"><span>8</span></div>
								<li>
									<div class="c-bar c-indicatorsChart__bar100">
										<span>10</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar90">
										<span>9</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar30">
										<span>3</span>
									</div>
								</li>
							</ul>
							<h4 class="c-indicators__item--title">Широкополосный интернет</h4>
							<p class="c-indicators__item--text">Охват пользователей сетями мобильной широкополосной связи, на&nbsp;душу населения</p>
						</div>
						<div class="c-indicators__flags">
							<img src="../images/huaweiGCI/usa-flag.jpg">
							<img src="../images/huaweiGCI/rus-flag.jpg">
							<img src="../images/huaweiGCI/pak-flag.jpg">
						</div>
						<div class="c-indicators__col">
							<ul class="c-indicatorsChart c-indicatorsChart2">
								<div class="c-line"><span>3</span></div>
								<li>
									<div class="c-bar c-indicatorsChart__bar80">
										<span>8</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar20">
										<span>2</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar20">
										<span>2</span>
									</div>
								</li>
							</ul>
							<h4 class="c-indicators__item--title">Специалисты IT-технологий</h4>
							<p class="c-indicators__item--text">Число ИТ-специалистов на&nbsp;душу населения</p>
						</div>
						<div class="c-indicators__flags">
							<img src="../images/huaweiGCI/usa-flag.jpg">
							<img src="../images/huaweiGCI/rus-flag.jpg">
							<img src="../images/huaweiGCI/pak-flag.jpg">
						</div>
						<div class="c-indicators__col">
							<ul class="c-indicatorsChart c-indicatorsChart3">
								<div class="c-line"><span>5</span></div>
								<li>
									<div class="c-bar c-indicatorsChart__bar80">
										<span>8</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar30">
										<span>3</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar20">
										<span>2</span>
									</div>
								</li>
							</ul>
							<h4 class="c-indicators__item--title">ИКТ по&nbsp;отношению к&nbsp;ВВП</h4>
							<p class="c-indicators__item--text">Инвестиции в&nbsp;ИКТ по&nbsp;отношению к&nbsp;ВВП на&nbsp;душу населения</p>
						</div>
						<div class="c-indicators__flags">
							<img src="../images/huaweiGCI/usa-flag.jpg">
							<img src="../images/huaweiGCI/rus-flag.jpg">
							<img src="../images/huaweiGCI/pak-flag.jpg">
						</div>
						<div class="c-indicators__col">
							<ul class="c-indicatorsChart c-indicatorsChart4">
								<div class="c-line"><span>3</span></div>
								<li>
									<div class="c-bar c-indicatorsChart__bar50">
										<span>5</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar30">
										<span>3</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar10">
										<span>1</span>
									</div>
								</li>
							</ul>
							<h4 class="c-indicators__item--title">Загруженные приложения</h4>
							<p class="c-indicators__item--text">Число загруженных приложенийна душу населения</p>
						</div>
						<div class="c-indicators__flags">
							<img src="../images/huaweiGCI/usa-flag.jpg">
							<img src="../images/huaweiGCI/rus-flag.jpg">
							<img src="../images/huaweiGCI/pak-flag.jpg">
						</div>
						<div class="c-indicators__col">
							<ul class="c-indicatorsChart c-indicatorsChart5">
								<div class="c-line"><span>2</span></div>
								<li>
									<div class="c-bar c-indicatorsChart__bar70">
										<span>7</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar30">
										<span>3</span>
									</div>
								</li>
								<li>
									<div class="c-bar c-indicatorsChart__bar10">
										<span>1</span>
									</div>
								</li>
							</ul>
							<h4 class="c-indicators__item--title">Используемые IoT</h4>
							<p class="c-indicators__item--text">Количество установленных баз IoT, на&nbsp;душу населения</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="c-background">
		<div class="c-container">
			<div class="c-section__main">
				<div class="c-conclusion h-clearfix" data-aos="fade-up">
					<h2 class="c-conclusion__title">
						Инвестиции в&nbsp;технологии
					</h2>
					<div class="c-conclusion__col">
						<p class="c-conclusion__text">
							Взаимосвязь между инвестициями в&nbsp;ИКТ и&nbsp;ростом ВВП признается сегодня и&nbsp;органами государственной власти, и&nbsp;представителями большого бизнеса многих стран. Авторы отчета пришли к&nbsp;выводу, что увеличение капиталовложений в&nbsp;инфраструктуру ИКТ на&nbsp;10% каждый год с&nbsp;2017-го по&nbsp;2025-й может дать многократно умноженный прирост в&nbsp;других областях.
						</p>
						<p class="c-conclusion__text">
							Каждый дополнительный доллар, инвестируемый в&nbsp;инфраструктуру ИКТ, может окупиться 3&nbsp;долларами прироста ВВП уже сегодня.
						</p>
					</div>
					<div class="c-conclusion__col">
						<div id="conclusion-chart"></div>
					</div>
				</div>
				<div class="c-comment h-clearfix" data-aos="fade-up">
					<div class="c-comment__col">
						<p class="c-comment__text">Чтобы экономика любой страны, которая делает первые шаги на&nbsp;пути цифровой перестройки, оставалась конкурентоспособной, приоритет должен отдаваться развитию инфраструктуры ИКТ, особенно широкополосных сетей, а&nbsp;также применению облачных сервисов.</p>
						<p class="c-comment__text">В&nbsp;то&nbsp;же время те&nbsp;государства, которые уже добились существенных успехов и&nbsp;хотят в&nbsp;полной мере воспользоваться полученными преимуществами, должны сделать ставку на&nbsp;облачные технологии, чтобы запустить цепную реакцию преобразований в&nbsp;таких сферах, как большие данные и&nbsp;интернет вещей.</p>
					</div>
					<div class="c-comment__col c-comment__col--right">
						<div class="c-comment__author">
							<img src="../images/huaweiGCI/author.jpg" alt="">
							<p>Кевин Чжан (Kevin Zhang)</p>
							<span>президент по корпоративному маркетингу Huawei</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="footer">
			<div class="follow">
				<a href="https://vk.com/huaweirussiaofficial"><img class="" src="/images/huaweiGCI/follow_00.png"></a>
	      <a href="https://www.facebook.com/huaweirus"><img class="" src="/images/huaweiGCI/facebook.png"></a> 
				<a href="https://www.youtube.com/channel/UChz4KRFfkJMfezuZKoEpa8A?guided_help_flow=3"><img class="" src="/images/huaweiGCI/youtube.png"></a> 
				<a href="https://twitter.com/huaweirus"><img class="" src="/images/huaweiGCI/twitter.png"></a> 
			  <a href="https://www.linkedin.com/company/huawei-russia"><img class="" src="/images/huaweiGCI/LinkedIn_Icon.png"></a>
			  <a href="https://habrahabr.ru/company/huawei/blog/"><img class="" src="/images/huaweiGCI/follow_06.png"></a>
			  <a href="http://www.slideshare.net/HuaweiRus"><img class="" src="/images/huaweiGCI/Slideshare.png"></a>
			</div>
			<div class="site-info">
				<p>Copyright © 2017 Huawei Technologies Co.,Ltd.</p>
			</div>
		</div>
</section>

</body>
</html>

