<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Главная страница</title>
  <meta content="Описание страницы" name="description">
  <meta content="" name="keywords">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="telephone=no" name="format-detection">
  <meta property="og:title" content="Главная страница">
  <meta property="og:description" content="Описание страницы">

  <link rel="shortcut icon" href="favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">

  <link href="stylesheets/ict.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/slick.css?rev=54a81351b9" />
  <script type="text/javascript" src="javascripts/libs/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="javascripts/libs/slick.min.js"></script>
  <script type="text/javascript" src="javascripts/libs/jquery.maskedinput.min.js"></script>
  <script src="javascripts/ict.js"></script>

</head>

<body>



  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img src="images/hw-logo.jpg" alt="">
        </div>
        <ul class="header__nav">
          <li class="header__item">Для пользователя</li>
          <li class="header__item">Для бизнеса</li>
          <li class="header__item">Поддержка</li>
          <li class="header__item">О&nbsp;компании</li>
          <li class="header__item">Вступить в клуб</li>
        </ul>
      </div>
    </div>
  </header>

  <section class="section hero">
    <div class="hero__bg">
      <video width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop">
        <source src="../videos/hero.mp4" type="video/mp4"></source>
      </video>
    </div>
    <div class="container">
      <div class="hero__inner">
        <div class="logo">
          <div class="logo__image">
            <img src="images/logo.png" alt="">
          </div>
        </div>
        <div class="hero__info">
          <p class="text text--color-white">
            ИКТ-клуб открывает новые пути развития, и&nbsp;у&nbsp;вас есть уникальная возможность присоединиться к&nbsp;сообществу профессионалов, работающих с&nbsp;технологиями Huawei.
          </p>
        </div>
        <div class="hero__item-list">

          <div class="hero__item">
            <div class="hero__item-inner">
              <div class="hero__image">
                <img src="images/hero-1.png" alt="">
              </div>
              <p class="text text--color-white">
                Общение с&nbsp;экспертами и&nbsp;со&nbsp;специалистами компании Huawei
              </p>
            </div>
          </div>

          <div class="hero__item">
            <div class="hero__item-inner">
              <div class="hero__image">
                <img src="images/hero-2.png" alt="">
              </div>
              <p class="text text--color-white">
                Возможность задать вопросы и получить ответы
              </p>
            </div>
          </div>

          <div class="hero__item">
            <div class="hero__item-inner">
              <div class="hero__image">
                <img src="images/hero-3.png" alt="">
              </div>
              <p class="text text--color-white">
                Самая актуальная информация о&nbsp;продуктах Huawei
              </p>
            </div>
          </div>

          <div class="hero__item">
            <div class="hero__item-inner">
              <div class="hero__image">
                <img src="images/hero-4.png" alt="">
              </div>
              <p class="text text--color-white">
                Возможность поделиться проtектами в&nbsp;рамках открытой платформы
              </p>
            </div>
          </div>

        </div>
        <div class="hero__btn-wrapper">
          <a href="http://forum.huawei.com/enterprise/forum-100097.html?lang=en" class="btn hero__btn">Перейти на форум</a>
        </div>
      </div>
    </div>
  </section>


  <section class="section interest">
    <div class="container">
      <div class="interest__wrapper">
        <div class="interest__decoration interest__decoration--bottom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1239.2 116">
            <path fill-rule="evenodd" d="M1185.5 96.4c-17.2-17.7-43.2-44-64.6-63.9-13.4-12.3-33.4-32.5-74.6-32.5H619.9h-425c-45.9 0-63.2 20.2-76.5 32.5-21.5 19.9-47.5 46.2-64.7 63.9C42.4 108 34.8 116 0 116h1239.2c-34.5 0-42.4-8-53.7-19.6z" />
          </svg>
        </div>
        <div class="interest__decoration interest__decoration--top">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1239.2 116">
            <path fill-rule="evenodd" d="M1185.5 96.4c-17.2-17.7-43.2-44-64.6-63.9-13.4-12.3-33.4-32.5-74.6-32.5H619.9h-425c-45.9 0-63.2 20.2-76.5 32.5-21.5 19.9-47.5 46.2-64.7 63.9C42.4 108 34.8 116 0 116h1239.2c-34.5 0-42.4-8-53.7-19.6z" />
          </svg>
        </div>
        <h2 class="title title--color-white title--position-center">Самое обсуждаемое</h2>
        <div class="interest__inner">
          <div class="interest__item-list">

            <div class="interest__item">
              <a href="http://forum.huawei.com/enterprise/thread-425479.html"></a>
              <div class="interest__image" style="background-image: url(images/interest-1.jpg)"></div>
              <div class="interest__info">
                <div class="interest__title">
                  Ocean Stor 5300&nbsp;v3
                </div>
              </div>
            </div>

            <div class="interest__item">
              <a href="http://forum.huawei.com/enterprise/thread-418595.html"></a>
              <div class="interest__image" style="background-image: url(images/interest-2.jpg)"></div>
              <div class="interest__info">
                <div class="interest__title">
                  DAC cables on&nbsp;Oceanstor
                </div>
              </div>
            </div>

            <div class="interest__item">
              <a href="http://forum.huawei.com/enterprise/thread-424611.html"></a>
              <div class="interest__image" style="background-image: url(images/interest-3.jpg)"></div>
              <div class="interest__info">
                <div class="interest__title">
                  Traffic policy&nbsp;&mdash; UDP traffic
                </div>
              </div>
            </div>

            <div class="interest__item">
              <a href="http://forum.huawei.com/enterprise/thread-425395.html"></a>
              <div class="interest__image" style="background-image: url(images/interest-4.jpg)"></div>
              <div class="interest__info">
                <div class="interest__title">
                  Get TE30. Skype for Business
                </div>
              </div>
            </div>

          </div>
          <div class="btn__wrapper">
            <a href="http://forum.huawei.com/enterprise/forum-100097.html?lang=en" class="btn btn--primary">Перейти на&nbsp;Форум</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section about">
    <div class="container">
      <h2 class="title title--position-center">Мир меняется с&nbsp;Huawei</h2>
      <div class="about__wrapper">
        <div class="about__hero">
          <img src="images/about-bg.jpg" alt="">
        </div>
        <div class="about__inner">
          <div class="about__col about__col--8">
            <div class="about__info">
              <p class="text">
                Huawei&nbsp;&mdash; ведущий мировой поставщик инфокоммуникационных решений, цель которого&nbsp;&mdash; обогащать жизнь людей через общение. Благодаря нашим инновационным разработкам, ориентированным на&nbsp;потребности клиентов и&nbsp;развитой партнерской
                сети, мы&nbsp;достигли высоких результатов в&nbsp;разработке телекоммуникационных сетей, терминальных решений и&nbsp;систем облачных вычислений.
              </p>
              <a href="http://www.huawei.com/ru/" class="about-btn">Узнать больше</a>
            </div>
          </div>
          <div class="about__col about__col--4">
            <div class="history">
              <h6 class="title">20&nbsp;лет инноваций в&nbsp;России</h6>
              <p class="text">Россия одна из&nbsp;ключевых стран для компании Huawei. И&nbsp;В&nbsp;1997 она стала первым зарубежным рынком для Huawei. Сегодня региональные офисы и&nbsp;научно-исследовательские центры расположены в&nbsp;нескольких городах России.</p>
              <a href="http://www.huawei.com/minisite/russia/20anniversary/" class="about-btn about-btn--small">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section stories">
    <div class="container">
      <div class="stories__inner">
        <div class="stories__image-wrapper">
          <h2 class="title">Истории<br>успеха<br>Huawei</h2>
          <div class="stories__image-list">

            <div class="stories__image">
              <div class="test1">
                <img src="images/stories-2.jpg" alt="">

              </div>
            </div>

            <div class="stories__image">
              <div class="test1">
                <img src="images/stories-3.jpg" alt="">

              </div>
            </div>

            <div class="stories__image">
              <div class="test1">
                <img src="images/stories-4.jpg" alt="">

              </div>
            </div>

            <div class="stories__image">
              <div class="test1">
                <img src="images/stories-5.jpg" alt="">

              </div>
            </div>

            <div class="stories__image">
              <div class="test1">
                <img src="images/stories-1.jpg" alt="">

              </div>
            </div>

          </div>
        </div>
        <div class="stories__list-wrapper">
          <div class="stories__strip"></div>
          <div class="arrow arrow__prev"></div>
          <div class="arrow arrow__next"></div>
          <div class="stories__list">

            <div class="stories__item">
              <a href="http://e.huawei.com/ru/case-studies/ru/2017/Dataline"></a>
              <div class="test">
                <h6 class="title title--color-red">Облака для самых взыскательных клиентов</h6>
                <p class="text text--size-small">
                  DataLine&nbsp;&mdash; лидер российского рынка коммерческих центров обработки данных. Бизнес компании охватывает три направления. Первое&nbsp;&mdash; colocation, размещение оборудования заказчиков в&nbsp;собственных дата-центрах. Второе&nbsp;&mdash; предоставление
                  виртуальных ресурсов и&nbsp;сервисов на&nbsp;их&nbsp;основе в&nbsp;облаках DataLine. Виртуальная инфраструктура компании входит в&nbsp;десятку крупнейших в&nbsp;Восточной Европе. И&nbsp;третье направление&nbsp;&mdash; телеком-сервисы.
                  DataLine предоставляет оптику собственной оптоволоконной сети и&nbsp;обеспечивает сетевую связность между объектами и&nbsp;площадками заказчиков и&nbsp;дата-центрами DataLine. Клиенты DataLine могут подключиться к&nbsp;точке обмена трафиком
                  DataLine-IX.
                </p>
              </div>
            </div>

            <div class="stories__item">
              <a href="http://e.huawei.com/ru/case-studies/ru/2016/Orenburg"></a>
              <div class="test">
                <h6 class="title title--color-red">Модернизация сети для информационного общества Оренбургской области</h6>
                <p class="text text--size-small">
                  Наша организация является учреждением, подведомственным Департаменту информационных технологий Оренбургской области, который обеспечивает все потребности правительства и&nbsp;органов исполнительной власти Оренбургской области в&nbsp;сфере связи, ИТ&nbsp;и&nbsp;оказания
                  государственных услуг в&nbsp;электронном виде.
                </p>
              </div>
            </div>

            <div class="stories__item">
              <a href="http://e.huawei.com/ru/case-studies/ru/2016/ICBS-01-12-16"></a>
              <div class="test">
                <h6 class="title title--color-red">Модульный ЦОД для Санкт-Петербургского отделения Торгово-Промышленного банка Китая</h6>
                <p class="text text--size-small">
                  Санкт-Петербургское подразделение крупнейшего по рыночной капитализации коммерческого банка в мире стало вторым российским региональным филиалом. Для управления процессами и данными, а также решения других задач бизнеса филиал нуждался в создании нового
                  ЦОД. Основными требованиями банка были: максимальная надежность, низкое энергопотребление, минимальный уровень инвестиций и быстрое развертывание.
                </p>
              </div>
            </div>

            <div class="stories__item">
              <a href="http://e.huawei.com/ru/case-studies/ru/2016/Acad0-22-11-2016"></a>
              <div class="test">
                <h6 class="title title--color-red">«АКАДО» поднимается к облакам</h6>
                <p class="text text--size-small">
                  Компания &laquo;КОМКОР&raquo;&nbsp;&mdash; один из&nbsp;крупнейших в&nbsp;Москве сервис-провайдеров. Мы&nbsp;предоставляем полный спектр телекоммуникационных услуг корпоративным клиентам и&nbsp;государственным организациям на&nbsp;базе мультисервисной
                  волоконно-оптической сети протяженностью более 25&nbsp;000&nbsp;км и&nbsp;облачных технологий собственного ЦОД. Нынешнее состояние рынка ЦОД в&nbsp;России характеризуется повышенным спросом на&nbsp;услуги размещения, хранения и&nbsp;обработки
                  данных. Поэтому наша задача как поставщика этого вида услуг&nbsp;&mdash; наращивать имеющиеся мощности и&nbsp;предоставлять клиентам качественный сервис.
                </p>
              </div>
            </div>

            <div class="stories__item">
              <a href="http://e.huawei.com/ru/case-studies/ru/2016/Acad0-22-11-2016"></a>
              <div class="test">
                <h6 class="title title--color-red">Huawei представила новую продуктовую модель для ВКС</h6>
                <p class="text text--size-small">
                  Новый компактный терминал с&nbsp;полным набором функций, терминал оснащен камерой с&nbsp;сенсором 2.0 магапикселя и&nbsp;разрешением 1080p FHD, имеется так&nbsp;же 5-кратное оптическое увеличение и&nbsp;автофокус, ТЕ10 представляет собой устройство для
                  работы с&nbsp;корпоративными и&nbsp;облачными решениями ВКС, отличается адаптивностью, простыми настройками, эффективностью и&nbsp;защищённостью корпоративного класса.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section news">
    <div class="container">
      <div class="news__wrapper">
        <h2 class="title title--position-center">Новости и&nbsp;мероприятия</h2>
        <div class="news__item-list">

          <div class="news-item">
            <a href="http://www.huawei.com/ru/news/ru/2017/huawei_wireless_x_labs_mgi"></a>
            <div class="news-item__inner">
              <div class="news__image" style="background-image: url(images/news-1.jpg)"></div>
              <div class="news__info">
                <div class="news__date">
                  <p class="text">2017-11-20</p>
                </div>
                <div class="news__title">
                  Huawei Wireless X&nbsp;Labs и&nbsp;MGI подписали протокол о&nbsp;намерениях в&nbsp;области телемедицины
                </div>
              </div>
            </div>
          </div>

          <div class="news-item">
            <a href="http://www.huawei.com/ru/news/ru/2017/huawei_cloud_egovernment_2017"></a>
            <div class="news-item__inner">
              <div class="news__image" style="background-image: url(images/news-2.jpg)"></div>
              <div class="news__info">
                <div class="news__date">
                  <p class="text">2017-11-20</p>
                </div>
                <div class="news__title">
                  Решение Huawei Cloud стало лидером рынка облачных решений для электронного правительства в&nbsp;Китае
                </div>
              </div>
            </div>
          </div>

          <div class="news-item">
            <a href="http://www.huawei.com/ru/news/ru/2017/huawei_digital_sky_initiative"></a>
            <div class="news-item__inner">
              <div class="news__image" style="background-image: url(images/news-3.jpg)"></div>
              <div class="news__info">
                <div class="news__date">
                  <p class="text">2017-11-20</p>
                </div>
                <div class="news__title">
                  Huawei Wireless X&nbsp;Labs объявляет о&nbsp;запуске программы &laquo;Цифровое небо&raquo;
                </div>
              </div>
            </div>
          </div>

          <div class="news-item news-main">
            <div class="news-main__inner">
              <div class="news-main__card">
                <a href="http://www.huawei.com/ru/news/ru/2017/huawei_honorcup_2017_winners"></a>
                <div class="news-main__image" style="background-image: url(images/news-main.jpg)">
                </div>
                <div class="news-main__info">
                  <p class="text">Узнать больше о&nbsp;Honor Cup</p>
                </div>
              </div>
              <a href="" class="news-main__more">

              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section feedback">
    <div class="container">
      <div class="feedback__inner">
        <h2 class="title title--position-center title--color-white">Обратная связь</h2>
        <form action="form.php" class="form email" method="POST" data-success="#modalFeedSuccess">

          <div class="grid">
            <div class="grid__col grid__col-4">
              <div class="form__group">
                <input id="mf_name" name="fName" type="text" class="form__control" required placeholder="Ваше имя">
              </div>
            </div>

            <div class="grid__col grid__col-4">
              <div class="form__group">
                <select name="topic" class="form__control">
                  <option value="">Тема вопроса</option>
                </select>
              </div>
            </div>

            <div class="grid__col grid__col-4">
              <div class="form__group">
                <input id="mf_email" name="email" type="text" class="form__control" required placeholder="Email">
              </div>
            </div>
          </div>

          <div class="grid form__grid">
            <div class="grid__col grid__col-8">
              <div class="form__group">
                <textarea id="mf_comment" name="Comment" class="form__control" placeholder="Ваш вопрос"></textarea>
              </div>
            </div>

            <div class="grid__col grid__col-4">

              <div class="form__user">
                <span>Пользователь</span>
                <input type="radio" id="c1" name="user">
                <label for="c1"><span></span>Пользователь</label>

                <input type="radio" id="c2" name="user">
                <label for="c2"><span></span>Предприятие</label>

                <input type="radio" id="c3" name="user">
                <label for="c3"><span></span>Оператор</label>

                <input type="radio" id="c4" name="user">
                <label for="c4"><span></span>Соискатель</label>

                <input type="radio" id="c5" name="user">
                <label for="c5"><span></span>Другое:
                  <input type="text" name="user">
                </label>
              </div>
            </div>
          </div>
          <div class="form__actions">
            <div class="form__group">
              <div class="form__policy">
                <label>
                  <input type="checkbox" name="isSign" value="1" required>
                  <span class="form__policy-box"></span>
                  <span class="form__policy-text">Я&nbsp;соглашаюсь на&nbsp;обработку персональных данных и&nbsp;на&nbsp;получение e-mail уведомлений рекламно-информационного характера от&nbsp;ООО &laquo;Техкомпания Хуавей&raquo;</span>
                </label>
              </div>
            </div>
            <button class="btn btn--primary" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </section>


  <footer class="footer">
    <div class="footer__container">
      <div class="footer__grid">
        <div class="footer__grid-item footer__grid-item--sm">
          <div class="footer__nav">
            <div class="footer__nav-title">О компании Huawei</div>
            <ul>

              <li><a href="http://e.huawei.com/ru/about/huawei-enterprise">Huawei Enterprise</a>
              </li>

              <li><a href="http://e.huawei.com/ru/branch-office">Филиалы</a>
              </li>

              <li><a href="http://e.huawei.com/ru/news">Пресс-центр</a>
              </li>

              <li><a href="http://e.huawei.com/ru/events">События Huawei</a>
              </li>

            </ul>
          </div>
        </div>

        <div class="footer__grid-item footer__grid-item--sm">
          <div class="footer__nav">
            <div class="footer__nav-title">Где купить</div>
            <ul>

              <li><a href="http://e.huawei.com/ru/partner/find-a-partner">Поиск партнера</a>
              </li>

              <li><a href="http://e.huawei.com/ru/get-price-info">Запросить информацию</a>
              </li>

            </ul>
          </div>
        </div>

        <div class="footer__grid-item footer__grid-item--sm">
          <div class="footer__nav">
            <div class="footer__nav-title">Партнеры</div>
            <ul>

              <li><a href="http://e.huawei.com/ru/partner/become-a-partner">Стать партнером</a>
              </li>

              <li><a href="http://e.huawei.com/ru/myspace/accountinformation">Доступ к ресурсам</a>
              </li>

              <li><a href="http://support.huawei.com/learning/NavigationAction!createNavi?navId=TRAIN_PARTNER&lang=en">Обучение для партнеров</a>
              </li>

              <li><a href="http://app.huawei.com/echannel">Партнерский портал</a>
              </li>

            </ul>
          </div>
        </div>

        <div class="footer__grid-item footer__grid-item--sm">
          <div class="footer__nav">
            <div class="footer__nav-title">Ресурсы</div>
            <ul>

              <li><a href="http://support.huawei.com/ecommunity/">Сообщество</a>
              </li>

              <li><a href="http://e.huawei.com/ru/marketing-material">Центр ресурсов</a>
              </li>

              <li><a href="http://e.huawei.com/ru/videos">Видео</a>
              </li>

              <li><a href="http://e.huawei.com/ru/publications">Публикации</a>
              </li>

              <li><a href="http://e.huawei.com/ru/case-studies">Истории успеха</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="footer__hr"></div>
      <div class="footer__grid footer__grid--2">
        <div class="footer__grid-item footer__grid-item--md">



        </div>
        <div class="footer__grid-item footer__grid-item--lg">
          <ul class="footer__menu">

            <li class="footer__menu-item">
              <a href="http://e.huawei.com/ru/how-to-buy/contact-us" target="_blank">Contact us</a>
            </li>

            <li class="footer__menu-item">
              <a href="http://e.huawei.com/ru/privacy" target="_blank">Конфиденциальность</a>
            </li>

            <li class="footer__menu-item">
              <a href="http://e.huawei.com/ru/about/terms-of-use" target="_blank">Условия использования</a>
            </li>

            <li class="footer__menu-item">
              <a href="http://e.huawei.com/ru/rss" target="_blank">Подписка RSS</a>
            </li>

            <li class="footer__menu-item">
              <a href="http://e.huawei.com/ru/about/sitemap" target="_blank">Карта сайта</a>
            </li>

          </ul>
          <div class="footer__copy">Copyright © 2017 Huawei Technologies Co., Ltd. All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
