<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Huawei - Годовой отчет 2017</title>
	<meta content="" name="keywords">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="telephone=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/report.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../javascripts/jquery.arcticmodal-0.3.min.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script src="../javascripts/report.js"></script>
</head>
<body>
<section class="c-section">
  <div class="c-video__wrapper" style="display: none;">
    <div class="" id="videoModal">
      <div class="arcticmodal-close" alt="закрыть"></div>
        <div class="c-modal__player">
          <iframe class="c-modal__frame" src="" frameborder="0" allowfullscreen></iframe>
        </div>
     </div>
  </div>
  <div class="c-button_up"></div>
  <div class="c-top__bg">
    <div class="c-container">
      <header class="c-header h-clearfix">
        <div class="c-header__logo">
          <img src="../images/report/logo.png" alt="Huawei">
        </div>
        <div class="c-header__logo_white">
          <img src="../images/report/logo_white.png" alt="Huawei">
        </div>
        <div class="c-header__menu_button"></div>
        <div class="c-header__menu">
          <ul>
            <li class="c-header__item"><span>ФО Huawei 2017</span></li>
            <li class="c-header__item"><span>ФО Huawei 2016</span></li>
          </ul>
        </div>
      </header>
      <div class="c-theme">
        <h1 class="c-title">Финансовый отчет<br>Huawei по&nbsp;итогам 2017 года</h1>
        <h4 class="c-title c-title__color_696a6f">Мир коммуникаций без границ</h4>
        <a class="c-button" href="http://www-file.huawei.com/-/media/CORPORATE/PDF/annual-report/AnnualReport2016_en.pdf?la=en" download="#"
        >Скачать PDF (Англ.)</a>
      </div>
    </div>
  </div>
    <div class="c-container">
      <div class="c-receipts h-clearfix">
        <h1 class="c-title c-title__weight_thin">Выручка компании Huawei<br>по&nbsp;итогам 2017 года</h1>
        <p class="c-text">Компания Huawei опубликовала ежегодный финансовый отчет за 2017 год, который свидетельствует о значительном росте бизнеса компании и каждого из подразделений в отдельности.</p>
        <div class="c-tile c-tile__width_narrow" data-aos="fade-up">
          <h4 class="c-title c-title__pos_center c-bg__color_two">Суммарная выручка<br> Huawei</h4>
          <p class="c-dollar"><span>$</span>92,5<span>млрд</span></p>
          <p class="c-yuan">603,621 млрд юаней (CNY)</p>
          <ul class="c-chart" data-chart="1">
            <li class="c-chart__bar c-chart__bar_left c-bg__color_one">
              <span class="c-chart__year">2016</span>
              <div class="c-bar__height_10"></div>
            </li>
            <li class="c-chart__bar c-chart__bar_right c-bg__color_two">
              <span class="c-chart__shift c-text__color_two">+15.7%</span>
              <span class="c-chart__year">2017</span>
              <div class="c-bar__height_32"></div>
            </li>
          </ul>
        </div>
        <div class="c-tile c-tile__width_narrow" data-aos="fade-up">
          <h4 class="c-title c-title__pos_center c-bg__color_four">Чистая прибыль<br> Huawei</h4>
          <p class="c-dollar"><span>$</span>7,3<span>млрд</span></p>
          <p class="c-yuan">47,455 млрд юаней (CNY)</p>
          <ul class="c-chart" data-chart="2">
            <li class="c-chart__bar c-chart__bar_left c-bg__color_one">
              <span class="c-chart__year">2016</span>
              <div class="c-bar__height_6"></div>
            </li>
            <li class="c-chart__bar c-chart__bar_right c-bg__color_four">
              <span class="c-chart__shift c-text__color_four">+28.1%</span>
              <span class="c-chart__year">2017</span>
              <div class="c-bar__height_04"></div>
            </li>
          </ul>
        </div>
        <div class="c-tile c-tile__width_narrow" data-aos="fade-up">
          <h4 class="c-title c-title__pos_center c-bg__color_five">Инвестиции в&nbsp;исследования и&nbsp;разработки</h4>
          <p class="c-dollar"><span>$</span>13,8<span>млрд</span></p>
          <p class="c-yuan">89,7 млрд юаней (CNY)</p>
          <ul class="c-chart" data-chart="3">
            <li class="c-chart__bar c-chart__bar_left c-bg__color_one">
              <span class="c-chart__year">2016</span>
              <div class="c-bar__height_6"></div>
            </li>
            <li class="c-chart__bar c-chart__bar_right c-bg__color_five">
              <span class="c-chart__shift c-text__color_five">+17.4%</span>
              <span class="c-chart__year">2017</span>
              <div class="c-bar__height_28"></div>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  <div class="c-bg_fff" data-aos="fade-up">
    <div class="c-container">
      <div class="c-speech h-clearfix" data-name="anchor">
      <span class="c-quotes c-quotes__position_left">«</span> 
      <span class="c-quotes c-quotes__position_right">»</span> 
        <div class="c-speech__author">
          <img src="../images/report/kenhu.jpg">
          <p class="c-speech__name">Кэнь Ху (Ken Hu)</p>
          <p class="c-speech__position">Действующий генеральный директор Huawei</p>
        </div>
        <p class="c-text">
          Возможности и вызовы в современном мире появляются быстрее, чем когда-либо ранее, и непрерывные инновации — единственный способ, который позволяет нашей компании сохранять лидирующие позиции.
          В течение следующих 10 лет Huawei продолжит наращивать инвестиции в технологические разработки: ежегодно мы будем вкладывать в научную деятельность более 10 млрд долларов. 
        </p>
        <p class="c-text">
          Кроме этого, Huawei будет активно стремиться к новым сотрудничествам, привлекать и развивать таланты, а также сконцентрирует усилия на новых исследованиях. Мы хотим, чтобы все отрасли становились все более цифровыми и интеллектуальными.
        </p>
      </div>
    </div>
  </div>
    <div class="c-container">
      <div class="c-units h-clearfix" data-aos="fade-up">
        <h1 class="c-title c-title__weight_thin">Выручка подразделений</h1>
        <div class="c-tile c-tile__width_wide h-clearfix">
          <div class="c-tile__chart">
            <p class="c-dollar c-text__color_seven"><span>$</span>45,7<span>млрд</span></p>
            <p class="c-yuan">297,8 млрд юаней (CNY)</p>
            <ul class="c-chart" data-chart="4">
              <li class="c-chart__bar c-chart__bar_left c-bg__color_six">
                <span class="c-chart__year">2016</span>
                <div class="c-bar__height_10"></div>
              </li>
              <li class="c-chart__bar c-chart__bar_right c-bg__color_seven">
                <span class="c-chart__shift c-text__color_seven">+2.5%</span>
                <span class="c-chart__year">2017</span>
                <div class="c-bar__height_24"></div>
              </li>
            </ul>
          </div>
            <h4 class="c-title c-title__color_1d6297">Huawei Carrier&nbsp;BG</h4>
            <p class="c-text">
              Деятельность группы была сосредоточена на развитии потенциала существующих сетей, а также на создании новых возможностей в сегментах видео, интернета вещей и облачных технологий.
            </p>
        </div>
        <div class="c-tile c-tile__width_wide h-clearfix" data-aos="fade-up">
          <div class="c-tile__chart">
            <p class="c-dollar c-text__color_nine"><span>$</span>8,4<span>млрд</span></p>
            <p class="c-yuan">54,9 млрд юаней (CNY)</p>
            <ul class="c-chart" data-chart="5">
              <li class="c-chart__bar c-chart__bar_left c-bg__color_eight">
                <span class="c-chart__year">2016</span>
                <div class="c-bar__height_10"></div>
              </li>
              <li class="c-chart__bar c-chart__bar_right c-bg__color_nine">
                <span class="c-chart__shift c-text__color_nine">+35.1%</span>
                <span class="c-chart__year">2017</span>
                <div class="c-bar__height_47"></div>
              </li>
            </ul>
          </div>
            <h4 class="c-title c-title__color_2694ca">Huawei Enterprise&nbsp;BG</h4>
            <p class="c-text">
              Благодаря инновационным разработкам в области облачных решений, больших данных, кампусных сетей, дата-центров, интернета вещей и в других сегментах бизнеса Huawei Enterprise BG увеличила выручку на треть.
            </p>
        </div>
        <div class="c-tile c-tile__width_wide h-clearfix" data-aos="fade-up">
          <div class="c-tile__chart">
            <p class="c-dollar c-text__color_eleven"><span>$</span>36,4<span>млрд</span></p>
            <p class="c-yuan">237,2 млрд юаней (CNY)</p>
            <ul class="c-chart" data-chart="6">
              <li class="c-chart__bar c-chart__bar_left c-bg__color_ten">
                <span class="c-chart__year">2016</span>
                <div class="c-bar__height_10"></div>
              </li>
              <li class="c-chart__bar c-chart__bar_right c-bg__color_eleven">
                <span class="c-chart__shift c-text__color_eleven">+31.9%</span>
                <span class="c-chart__year">2017</span>
                <div class="c-bar__height_44"></div>
              </li>
            </ul>
          </div>
            <h4 class="c-title c-title__color_129bae">Huawei Consumer&nbsp;BG</h4>
            <p class="c-text">
              Благодаря инновационности продуктов и растущей глобальной узнаваемости бренда как производителя премиальных гаджетов Huawei Consumer BG отгрузила в общей сложности 153 миллиона смартфонов под брендами Huawei и Honor.
            </p>
        </div>
      </div>
    </div>
    <div class="c-bg_fff" data-aos="fade-up">
      <div class="c-container">
        <div class="c-new-unit h-clearfix">
          <h1 class="c-title">Новое подразделение:<br>Cloud Business Unit</h1>
          <p class="c-new-unit__item c-new-unit__item_color-darkblue"><span>99</span> облачных сервисов</p>
          <p class="c-new-unit__item c-new-unit__item_color-blue"><span>&#62;50</span> решений</p>
          <p class="c-new-unit__item c-new-unit__item_color-turquoise"><span>&#62;2 000</span> партнеров</p>
        </div>
      </div>
    </div>
    <div class="c-container">
      <div class="c-regions h-clearfix aos-init aos-animate" data-aos="fade-up">
        <h1 class="c-title">Результаты по регионам</h1>
        <div class="c-regions__item">
          <img src="../images/report/china.png">
          <div class="c-regions__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Китай</h2>
            <p class="c-text">
              Благодаря развертыванию сети 4G, устойчивому росту в секторе смартфонов и нашим расширяющимся возможностям в решениях для корпораций и крупных производств, наш доход от китайского рынка увеличился на <span>29,0%</span> в годовом исчислении.
            </p>
          </div>
        </div>
        <div class="c-regions__item">
          <img src="../images/report/asianpacific.png">
          <div class="c-regions__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Азиатско-Тихоокеанский регион</h2>
            <p class="c-text">
              Благодаря ускорению цифровой трансформации на предприятиях и росту доли рынка смартфонов, Huawei сохранила темпы роста в Азиатско-Тихоокеанском регионе, а наши доходы увеличились на <span>10,3%</span> в годовом исчислении.
            </p>
          </div>
        </div>
        <div class="c-regions__item">
          <img src="../images/report/emea.png">
          <div class="c-regions__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">EMEA</h2>
            <p class="c-text">
              Благодаря ускорению цифровой трансформации на предприятиях и росту доли рынка смартфонов, наши доходы со стороны Европы, Ближнего Востока и Африки (EMEA) увеличились на <span>4,7%</span> в годовом исчислении.
            </p>
          </div>
        </div>
        <div class="c-regions__item">
          <img src="../images/report/america.png">
          <div class="c-regions__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Северная и Южная Америка</h2>
            <p class="c-text">
              Из-за колебаний инвестиционных циклов в телекоммуникационной индустрии в Латинской Америке доходы Huawei на американском континенте сократились на <span>10,9%</span> по сравнению с 2016 годом.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-container">
      <div class="c-teamwork h-clearfix aos-init aos-animate" data-aos="fade-up">
        <h1 class="c-title">Тесная совместная работа<br>с партнерами без границ</h1>

        <div class="c-teamwork__item">
          <img src="../images/report/teamwork1.png">
          <div class="c-teamwork__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Установление стандартов</h2>
            <p class="c-text">Активный вклад в работу ключевых организаций по стандартизации</p>
          </div>
        </div>

        <div class="c-teamwork__item">
          <img src="../images/report/teamwork2.png">
          <div class="c-teamwork__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Открытые сообщества</h2>
            <p class="c-text">Поддержка открытого исходного кода и ускорение интеграции сообществ</p>
          </div>
        </div>

        <div class="c-teamwork__item">
          <img src="../images/report/teamwork3.png">
          <div class="c-teamwork__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Отраслевые союзы</h2>
            <p class="c-text">Ускорение развития отрасли</p>
          </div>
        </div>

        <div class="c-teamwork__item">
          <img src="../images/report/teamwork4.png">
          <div class="c-teamwork__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Технологические инновации</h2>
            <p class="c-text">Более тесное сотрудничество с промышленностью и наукой и развитие талантов в области ИКТ</p>
          </div>
        </div>

        <div class="c-teamwork__item">
          <img src="../images/report/teamwork5.png">
          <div class="c-teamwork__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Экосистема для разработчиков</h2>
            <p class="c-text">Постоянное развитие возможностей открытой платформы</p>
          </div>
        </div>

        <div class="c-teamwork__item">
          <img src="../images/report/teamwork6.png">
          <div class="c-teamwork__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Консультирование правительства</h2>
            <p class="c-text">Помощь в достижении экономического роста благодаря новым технологиям</p>
          </div>
        </div>

        <div class="c-teamwork__item">
          <img src="../images/report/teamwork7.png">
          <div class="c-teamwork__item-wrapper">
            <h2 class="c-title c-title__color_2694ca">Бизнес-альянсы</h2>
            <p class="c-text">Разработка решений для развития бизнеса клиентов</p>
          </div>
        </div>

      </div>
    </div>
    <div class="c-bg_fff aos-init aos-animate" data-aos="fade-up">
      <div class="c-container">
        <div class="c-about">
          <h1 class="c-title c-title__color_2694ca  aos-init aos-animate" data-aos="fade-up">Мы помним о своей социальной ответственности</h1>
          <div class="c-about__item aos-init aos-animate" data-aos="fade-right">
            <img src="../images/report/about1.jpg" alt="photo">
            <div class="c-about__item-wrapper">
              <h4 class="c-title c-title__color_2694ca">Преодолеваем цифровой разрыв</h4>
              <div class="c-text">
                Трехзвездочные решения Huawei для сайтов стимулируют развитие мобильной широкополосной связи в Африке.
              </div>
              <div class="c-text">
                Решение Huawei RuralStar 2.0 позволяет подключить удаленные районы с помощью мобильного сигнала, что ведет за собой рост местной экономики.
              </div>
              <div class="c-text">
                Мы разворачиваем решения для создания умных городов в более чем 120 населенных пунктах более 40 стран.
              </div>
              <div class="c-text">
                Запустили программу Seeds for the Future в 108 странах и регионах для развития ИКТ и индустрии промышленности.
              </div>
            </div>
          </div>
          <div class="c-about__item aos-init aos-animate" data-aos="fade-left">
            <div class="c-about__item-wrapper">
              <h4 class="c-title c-title__color_2694ca">Гарантируем стабильность и безопасность сети, защищаем вашу конфиденциальность</h4>
              <div class="c-text">Поддерживаем устойчивость 1500 клиентских сетей.</div>
              <div class="c-text">Обеспечили стабильную работу сетей во время 200 ключевых событий и стихийных бедствий по всему миру.</div>
              <div class="c-text">Представили 186 предложений по стандартам безопасности для 3GPP SA3.</div>
              <div class="c-text">Провели обучение по конфиденциальности для всех сотрудников.</div>
            </div>
            <img src="../images/report/about2.jpg" alt="photo">
          </div>
          <div class="c-about__item aos-init aos-animate" data-aos="fade-right">
            <img src="../images/report/about3.jpg" alt="photo">
            <div class="c-about__item-wrapper">
              <h4 class="c-title c-title__color_2694ca">Содействуем охране окружающей среды</h4>
              <div class="c-text">Повысили энергоэффективность наших основных продуктов в среднем на 20%, что делает их одними из самых энергоэффективных в отрасли.</div>
              <div class="c-text">Прошли аттестацию UL110 высочайшего уровня экологичности для 5 моделей мобильных телефонов.</div>
              <div class="c-text">Поставщики сократили выбросы углекислого газа на 63 тыс. тонн с помощью пилотных проектов по энергосбережению и созданию экологичной цепочки поставок.
              </div>
              <div class="c-text">
                Произвели 932 млн кВт*ч чистой энергии, что эквивалентно сокращению выбросов углерода на 450 тыс. тонн.
              </div>
            </div>
          </div>
          <div class="c-about__item aos-init aos-animate" data-aos="fade-left">
            <div class="c-about__item-wrapper">
              <h4 class="c-title c-title__color_2694ca">Создаем здоровую экосистему</h4>
              <div class="c-text">Выделили более 12 млрд юаней на оплату труда.</div>
              <div class="c-text">Провели внутренние аудиты системы менеджмента профессиональной безопасности и здоровья на 4100 площадках по всему миру.</div>
              <div class="c-text">Организовали Всемирную конференцию партнерской программы Huawei.</div>
              <div class="c-text">Запустили около 200 программ поддержки сообществ в более чем 100 странах и регионах.</div>
            </div>
            <img src="../images/report/about4.jpg" alt="photo">
          </div>
        </div>
      </div>
    </div>
    <div class="c-container">
      <div class="c-reference h-clearfix">
        <div class="c-reference__item">
          <img src="../images/report/icon1.png">
          <p class="c-text">Независимый аудит финансовой отчетности за&nbsp;2016 год был проведен KPMG.</p>
        </div>
        <div class="c-reference__item">
          <img src="../images/report/icon2.png">
          <p class="c-text">Загрузите полную версию годового финансового отчета Huawei за&nbsp;2016 год&nbsp;&mdash; <a href="http://www-file.huawei.com/-/media/CORPORATE/PDF/annual-report/AnnualReport2016_en.pdf?la=en" download="#">PDF (10mb)</a>.</p>
        </div>
      </div>
    </div>
    <div class="c-bg_fff">
      <div class="c-container">
        <div class="c-footer">
          <div class="c-footer__follow">
            <a href="https://vk.com/huaweirussiaofficial"><img class="" src="/images/huaweiGCI/follow_00.png"></a>
            <a href="https://www.facebook.com/huaweirus"><img class="" src="/images/huaweiGCI/facebook.png"></a> 
            <a href="https://www.youtube.com/channel/UChz4KRFfkJMfezuZKoEpa8A?guided_help_flow=3"><img class="" src="/images/huaweiGCI/youtube.png"></a> 
            <a href="https://twitter.com/huaweirus"><img class="" src="/images/huaweiGCI/twitter.png"></a> 
            <a href="https://www.linkedin.com/company/huawei-russia"><img class="" src="/images/huaweiGCI/LinkedIn_Icon.png"></a>
            <a href="https://habrahabr.ru/company/huawei/blog/"><img class="" src="/images/huaweiGCI/follow_06.png"></a>
            <a href="http://www.slideshare.net/HuaweiRus"><img class="" src="/images/huaweiGCI/Slideshare.png"></a>
          </div>
          <div class="c-footer__site-info">
            <p>Copyright © 2015 Huawei Technologies Co.,Ltd.</p>
          </div>
        </div>
      </div>
  </div>
</section>
{%- if not isExport and _env == 'development'%}
  {% include "blocks/__add_component.html" %}
  <!-- include liveReload only in Dev server -->
  <script src="//localhost:35729/livereload.js"></script>
{%- endif %}
</body>
</html>

